[submodule "web-server"]
	path = web-server
	url = https://github.com/smauch/Gantry_web-server
[submodule "gantry"]
	path = gantry
	url = https://github.com/smauch/Gantry_gantry
[submodule "rotary"]
	path = rotary
	url = https://github.com/smauch/Gantry_rotary
[submodule "cv"]
	path = cv
	url = https://github.com/smauch/Gantry_cv
[submodule "waitpattern"]
	path = waitpattern
	url = https://github.com/smauch/Gantry_waitpattern
